{% extends "applications/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
  <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Upload application</legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Upload</button>
      </div>
  </form>
</div>

{% endblock content %}
